<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Workspaces</h1>
    </div>

</div>

<div class="table-container">

    <table
        mat-table
        matSort
        class="workspaces-table mat-elevation-z8"
        [dataSource]="dataSource"
        multiTemplateDataRows
    >

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let workspace">{{ workspace.name }}</td>
        </ng-container>

        <!-- Colour -->
        <ng-container matColumnDef="colour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Colour</th>
            <td mat-cell *matCellDef="let workspace"><mat-chip [ngStyle]="{'background-color': workspace.color}">{{ workspace.color }}</mat-chip></td>
        </ng-container>

        <!-- Member Count -->
        <ng-container matColumnDef="members">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Members</th>
            <td mat-cell *matCellDef="let workspace" class="numeric">{{ workspace.members.length }}</td>
        </ng-container>

        <!-- Members -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let workspace" colspan="4">
                <mat-list *ngFor="let member of workspace.members">
                    <img [src]="member.user.profilePicture ?? 'assets/default.jpg'">
                    <mat-list-item>
                        <div matListItemTitle>{{ member.user.username }}</div>
                        <div matListItemLine>{{ member.user.email }}</div>
                    </mat-list-item>
                </mat-list>
            </td>
        </ng-container>

        <!-- Spaces Button -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Spaces</th>
            <td mat-cell *matCellDef="let workspace" (click)="$event.stopPropagation()">
                <a routerLink="/workspace/{{ workspace.id }}/spaces">
                    <button mat-raised-button color="primary">
                        <mat-icon class="material-icons-outlined">rocket</mat-icon>
                    </button>
                </a>
            </td>
        </ng-container>

        <!-- Header Row Definiton -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Row Definiton -->
        <tr mat-row *matRowDef="let workspace; columns: displayedColumns" (click)="onToggleRow(workspace)"></tr>

        <!-- Expanded Row -->
        <tr mat-row *matRowDef="let workspace; columns: ['expandedDetail']" [class.collapsed-detail]="workspace != expandedRow"></tr>

    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

</div>
