<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Tasks</h1>
    </div>

</div>

<div class="tasks-container">

    <table
        mat-table
        matSort
        class="tasks-table mat-elevation-z8"
        [dataSource]="dataSource"
        multiTemplateDataRows
    >

        <!-- ID -->
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let task">{{ task.id | uppercase }}</td>
        </ng-container> -->

        <!-- Order Index -->
        <!-- <ng-container matColumnDef="orderindex">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header class="header-align-right" arrowPosition="before">Order Index</th>
            <td mat-cell *matCellDef="let task" class="numeric" [ngClass]="{ 'negative': task.orderindex < 0 }">{{ task.orderindex | number : '1.0-2' : 'en-GB' }}</td>
        </ng-container> -->

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let task">{{ task.name.length > 50 ? task.name.substring(0, 50) + '...' : task.name }}</td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let task">
                <div class="avatar-container">
                    <div class="avatar avatar-icon" [ngStyle]="{ 'background-color': task.status.color }"></div>
                    <div class="avatar-text">{{ task.status.status | Capitalise }}</div>
                </div>
            </td>
        </ng-container>

        <!-- Creator -->
        <ng-container matColumnDef="creator">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
            <td mat-cell *matCellDef="let task">
                <div class="avatar-container">
                    <img
                        class="avatar avatar-user"
                        [src]="task.creator.profilePicture === null ? 'assets/default.jpg' : task.creator.profilePicture === svgUrl ? 'assets/clickbot.svg' : task.creator.profilePicture"
                        [matTooltip]="task.creator.username"
                        matTooltipPosition="above"
                    >
                    <div class="avatar-text">
                        {{ task.creator.username }}
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Assignees -->
        <ng-container matColumnDef="assignees">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Assignees</th>
            <td mat-cell *matCellDef="let task">
                <div class="avatar-container" *ngIf="task.assignees.length > 0">
                    <ng-container *ngFor="let item of task.assignees; index as i;">
                        <img
                            class="avatar avatar-user"
                            [src]="item.profilePicture ?? 'assets/default.jpg'"
                            [matTooltip]="item.username"
                            matTooltipPosition="above"
                        >
                    </ng-container>
                    <div class="avatar-text" [matTooltip]="task.assignees[0].email">
                        {{ task.assignees[0].username + (task.assignees.length > 1 ? ' +' + (task.assignees.length - 1) : '') }}
                    </div>
                </div>

            </td>
        </ng-container>

        <!-- Points -->
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header class="header-align-right" arrowPosition="before">Points</th>
            <td mat-cell *matCellDef="let task" class="numeric">{{ task.points }}</td>
        </ng-container>

        <!-- Expanded Detail -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let space" colspan="3">
                Coming soon
            </td>
        </ng-container>

        <!-- Header Row Definiton -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data Row Definiton -->
        <tr mat-row *matRowDef="let task; columns: displayedColumns" (click)="onToggleRow(task)"></tr>

        <!-- Expanded Row -->
        <tr mat-row *matRowDef="let task; columns: ['expandedDetail']" [class.collapsed-detail]="task != expandedRow"></tr>

    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>

</div>

