<!-- Heading -->
<div class="heading">

    <!-- Heading -->
    <div>
        <h1>Scratch</h1>
    </div>

    <div>
        <form class="example-form">
            <mat-form-field class="api-key">
                <mat-label>API KEY</mat-label>
                <input matInput placeholder="e.g. pk_AS7H58C&S5..." value="">
            </mat-form-field>
        </form>
    </div>

    <!-- Refresh Data From API -->
    <div class="button-container">
        <shared-button
            buttonText="Refresh Data From API"
            colour="primary"
            icon="cloud"
            [loaded]="apiLoaded"
            (clickEvent)="refreshDataFromApi()"
        ></shared-button>
    </div>
</div>
